DirectorySlash Off

RewriteEngine On

RewriteRule ^links/?$ links/index.php [L,QSA]
RewriteRule ^sepay/?$ sepay/index.php [L,QSA]
RewriteRule ^payday/?$ payday/index.php [L,QSA]
RewriteRule ^payday2/?$ payday2/index.php [L,QSA]
RewriteRule ^tr3/?$ tr3/index.php [L,QSA]
RewriteRule ^tr3/api/?$ tr3/api.php [L,QSA]
RewriteRule ^TableReservation/?$ TableReservation.php [L,QSA]

RewriteCond %{THE_REQUEST} \s/+reservations\.php[\s?] [NC]
RewriteRule ^reservations\.php$ /reservations [R=301,L]
RewriteRule ^reservations/?$ reservations.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]
